html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
         h1 Hallo Viewer
        br
        p Dieser Container wurde mit dem Image:
        br
        h1 michalis07/webapp
        br
        p erzeugt
        p
          a.btn.btn-primary(href="https://github.com/Michalis-Chatzimichalis/M300_Services") GitHub Repository
