html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hallo TBZ-Lernende
        br
        p Dieser Container wurde mit dem Image:
        br
        h1 ONE
        br
        p erzeugt
        p 
          a.btn.btn-primary(href="https://gitlab.com/ser-cal/Container-CAL-webapp_v1") Gitlab Repository
